#.gitignore

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
.venv/

# IDEs
.vscode/
.idea/

# Django
*.log
staticfiles/
media/

# Env files
.env.dev
.env.prod

# SQLite (only if you’re still using it locally)
db.sqlite3

# Python artifacts
__pycache__/
*.py[cod]




