asgiref==3.9.1
boto3==1.39.3
botocore==1.39.3
dj-database-url==3.0.1
Django==5.2.4
django-debug-toolbar==5.2.0
django-simple-history==3.5.0
django-storages==1.14.6
djangorestframework==3.16.0
gunicorn==23.0.0
jmespath==1.0.1
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
s3transfer==0.13.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
whitenoise==6.9.0
