{# templates/components/button.html #}

{% comment %}If style is "explore", render the fancy icon button{% endcomment %}
{% if style == 'explore' %}
<button
  type="{{ type|default:'button' }}"
  class="btn-explore {{ class|default:'' }}"
  {% if clr %}style="--clr: {{ clr }}"{% endif %}
>
  <span class="btn-explore__icon-wrapper">
    <svg
      viewBox="0 0 14 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="btn-explore__icon-svg"
      width="10"
    >
      <path
        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
        fill="currentColor"
      />
    </svg>
    <svg
      viewBox="0 0 14 15"
      fill="none"
      width="10"
      xmlns="http://www.w3.org/2000/svg"
      class="btn-explore__icon-svg btn-explore__icon-svg--copy"
    >
      <path
        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
        fill="currentColor"
      />
    </svg>
  </span>
  {{ text }}
</button>
{% else %}
<button
  type="{{ type|default:'button' }}"
  class="btn{% if variant %} btn-{{ variant }}{% endif %} {{ class|default:'' }}"
>
  {{ text }}
</button>
{% endif %}
