{# templates/components/button.html #}

<style>
.button-plus {
  position: relative;
  width: 150px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  transition: all 0.3s;
}
.button-plus__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
  transition: all 0.3s;
}
.button-plus__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.button-plus .svg {
  width: 30px;
  stroke: #fff;
}
.button-plus:hover {
  background: #34974d;
}
.button-plus:hover .button-plus__text {
  color: transparent;
}
.button-plus:hover .button-plus__icon {
  width: 148px;
  transform: translateX(0);
}
.button-plus:active .button-plus__icon {
  background-color: #2e8644;
}
.button-plus:active {
  border: 1px solid #2e8644;
}
</style>

<button type="{{ type|default:'button' }}" class="button-plus {{ class|default:'' }}">
  <span class="button-plus__text">{{ text }}</span>
  <span class="button-plus__icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg>
  </span>
</button>
