{# templates/Catalog/home.html #}
{% extends "base.html" %}
{% load static %}

{% block title %}Catalog Home{% endblock %}

{% block extra_head %}
{# page-specific favicons, scripts, etc. #}
<link
rel="icon"
href="{% static 'favicon_dark.svg' %}"
type="image/svg+xml"
media="(prefers-color-scheme: light)"
/>
<link
rel="icon"
href="{% static 'favicon_light.svg' %}"
type="image/svg+xml"
media="(prefers-color-scheme: dark)"
/>
{% endblock %}

{% block content %}
<section class="main-content">
    
    <!-- 2a) PAGE HEADER: Title + Record count + Buttons -->
    <div class="page-header">
        <h1 class="page-title">
            Catalog Home            
        </h1>
        <div class="action-buttons">

        </div>
    </div>
        
    <!-- 2c) TABLES -->
    <div class="tables">
        &nbsp; superset dashboard goes here !
    </div>
    
</section>
{% endblock %}
