{# templates/Catalog/items.html #}
{% extends "base.html" %}
{% load static %}

{% block title %}Catalog Items{% endblock %}

{% block extra_head %}
{# page-specific favicons, scripts, etc. #}
<link
rel="icon"
href="{% static 'favicon_dark.svg' %}"
type="image/svg+xml"
media="(prefers-color-scheme: light)"
/>
<link
rel="icon"
href="{% static 'favicon_light.svg' %}"
type="image/svg+xml"
media="(prefers-color-scheme: dark)"
/>
{% endblock %}

{% block content %}

<section class="main-content">
    
    <!-- 2a) PAGE HEADER: Title + Record count + Buttons -->
    <div class="page-header">
        <h1 class="page-title">
            Manage Items
            <small class="page-subtitle"> &nbsp; ({{ object_list|length }} Records)</small>
        </h1>
        <div class="action-buttons">

        {% include "components/button.html" with text='Save Changes' type='submit' variant='primary' class='ml-4' %}                

        </div>
    </div>
    
    <!-- 2b) FILTERS -->
    <div class="filters">
        <a href="" class="btn btn-primary">Filters</a>
    </div>
    
    <!-- 2c) TABLES -->
    <div class="tables">
        <a href="" class="btn btn-primary">Tables</a>
    </div>
    
</section>
{% endblock %}
