{# templates/Catalog/tax-rates.html #}
{% extends "base.html" %}
{% load static %}

{% block title %}Catalog Home{% endblock %}

{% block extra_head %}
{# page-specific favicons, scripts, etc. #}
<link
rel="icon"
href="{% static 'favicon_dark.svg' %}"
type="image/svg+xml"
media="(prefers-color-scheme: light)"
/>
<link
rel="icon"
href="{% static 'favicon_light.svg' %}"
type="image/svg+xml"
media="(prefers-color-scheme: dark)"
/>
{% endblock %}

{% block content %}
<section class="main-content">
    
    <!-- 2a) PAGE HEADER: Title + Record count + Buttons -->
    <div class="page-header">
        <h1 class="page-title">
            Manage Tax Rates
            <small class="page-subtitle"> &nbsp; ({{ object_list|length }} Records)</small>
        </h1>
        <div class="action-buttons">
            {% include "components/button-plus.html" with text="Tax Rates" type="button" data_open="" class="ml-2" color="#e85d04" dark_color="#dc2f02"%}            
        </div>
    </div>
    
    <!-- 2b) FILTERS -->
    <div class="filters">
        Manage Filters
    </div>
    
    <!-- 2c) TABLES -->
    <div class="tables">
        Manage Tables
    </div>
    
</section>

{% include "components/modal-form.html" with modal_id="" form_id="" title="New Tax Rates" action_url=request.path form=form %}

{% endblock %}
